.color-container {
  box-sizing: border-box;
  border: 2px solid black;
  height: 100vh;
  display: grid;
  place-items: center;

  * {
    position: fixed;
  }
  .all-btn {
    z-index: 3;
    border: 2px groove rgba(0, 0, 0, 0.836);
    &:focus {
      outline: none;
    }
  }
  div {
    border: 3px groove rgba(0, 0, 0, 0.836);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 18px;
    border-radius: 18px;
    box-shadow: 0px 0px 16px 20px rgba(0, 0, 0, 0.192);
    cursor: pointer;

    p {
      position: relative;
      margin: 0;
      color: black;
      font-weight: bold;
    }
  }
  .rgb-color {
    width: 75%;
    height: 75%;
    z-index: 0;
  }
  .hex-color {
    width: 55%;
    height: 55%;
    z-index: 1;
  }
  .hsl-color {
    width: 35%;
    height: 35%;
    z-index: 2;
  }
}
