.color-container {
  box-sizing: border-box;
  border: 2px solid black;
  height: 100vh;
  display: grid;
  place-items: center;

  * {
    position: fixed;
  }
  div {
    border: 3px groove rgba(0, 0, 0, 0.836);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 18px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 20px rgba(0, 0, 0, 0.192);
    cursor: pointer;

    p {
      position: relative;
      margin: 0;
    }
  }
  .rgb-color {
    width: 85%;
    height: 85%;
  }
  .hex-color {
    width: 65%;
    height: 65%;
  }
  .hsl-color {
    width: 45%;
    height: 45%;
  }
}
